<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
         
            <!-- Quote Form -->
            <div class="form-group">
                <label for="msg">QUOTE</label>
                <input type="text"  class="form-control" id="msg" [(ngModel)]="newQuote.msg" name="msg" #msg="ngModel" required>
                
                <div [hidden]="msg.valid || msg.pristine" class="alert alert-danger">
                    <p> Quote msg is Required</p>
                    
                </div>
            </div>
            <!-- Author Input -->
            <div class="form-group">
                <label for="author">AUTHOR</label>
                <textarea class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required></textarea>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p> Author is Required</p>
                    
                </div>
                
            </div>
            <!-- Date Input -->
            <div class="form-group">
                <label for="completeDate">Completion Date</label>
                <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required >
                <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
                    <p> Complete Date is Required</p>
                    
                </div>
            </div>
            
            <button class="btn btn-primary" type="Submit">CREATE NEW QUOTE</button>
        </form>
    </div>
</div>